#cont{
    height: 40em;
    width: 40em;
    margin: 0% auto;
    background-color: coral;
   
 }
 #aboutus{
     text-align: center;
     background-color: coral;
     
     
 }
 #container{
     font-size: 2em;
     color: black;
     background-color: coral;
 }
 